title = "Input donatur"
url = "/input-donatur"
layout = "default"
description = "page untuk input donatur"
is_hidden = 0
==
<style type="text/css" media="screen">
	.demo-blog .input-monickers .mdl-card__media {
	  background-image: url('{{ url("themes/martin-blank-material-design-lite/assets/images/road.jpg") }}');
	}
</style>
<div class="mdl-card input-monickers mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
        <h3><a href="entry.html">Donatur Input</a></h3>
    </div>
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
	<form action="#">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="name">
			<label class="mdl-textfield__label" for="name">Name</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="email" id="email">
			<label class="mdl-textfield__label" for="email">Email</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="dob">
			<label class="mdl-textfield__label" for="dob">Date Of Birth</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="amount">
			<label class="mdl-textfield__label" for="amount">Amount</label>
		</div>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">Submit</button>

	</form>
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div>
            <strong>Terms & Conditions</strong>
            <span>Segala bentuk donasi anda bla bla bla.......</span>
        </div>
    </div>
</div>